body{
    direction: rtl;
    font-family: Tahoma,sans-serif;
    text-align: right;

    font-size: medium;
}
.container{
    height: 500px;

    margin:10px;
}
#navbar-orginal{
    text-align: right;
    direction: rtl;
}